* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

img {
  width: 100%;
  display: block;
}

ul {
  list-style: none;
}

/* 
1 适配宽度不同的屏幕
  1 图片 和盒子大小 发生改变
  2 字体大小也需要改变
     1 在和设计款等宽的媒体查询中定义htmlfontsize
      基础值 => 100px 
     2 在需要在适配的元素上看情况去使用单位
      百分比 rem  px 
 */

.view {
  padding: 0 .24rem;
  background-color: pink;
}

/* 全场优惠 */

.cart {
  .cart_title {
    display: flex;
    justify-content: space-between;
    font-size: 0.28rem;
    line-height: 1;
    padding: 0.26rem 0;
    span:nth-child(1) {}
    span:nth-child(2) {
      color: #888888;
    }
  }
  .cart_content {
    border-radius: .15rem;
    overflow: hidden;
    box-shadow: 0 0 20px 3px #666;;

    .cart_main {
      background-color: #55bc75;
      overflow: hidden;
      padding: 0 .3rem;
      position: relative;
      // 大图片
      &::before{
        content: "";
        position: absolute;
        top: -0.2rem;
        right: -0.06rem;
        width:1.46rem;
        height: 1.46rem;
        background-image: url("../images/sale.png");
        background-size: 1.46rem 1.46rem;
      }
      .cart_name1 {
        font-size: 0.46rem;
        color: #fff;
        padding-top: 0.34rem;
        line-height: 1;
      }
      .cart_name2 {
        font-size: 0.24rem;
        color: #bdf3ce;
        line-height: 1;
        padding-top: 0.17rem;
      }
      .cart_name3 {
        font-size: 0.22rem;
        color: #fff;
        padding-top: 0.63rem;
        padding-bottom: .34rem;
        >a {
          color: #bdf3ce;
          background-color: #2a603b;
          float: right;
          border-radius: .04rem;
          padding: 0 0.03rem;
        }
      }
    }
    .cart_tool {
      display: flex;
      background-color: #fff;
      padding: 0.16rem 0;
      /* 波浪线 */
      position: relative;
      &::before{
        content: "";
        position: absolute;
        top: -.08rem;
        left: 0;
        background-image: url("../images/icon.png");
        width: 100%;
        height: .08rem;
        background-size: .24rem .08rem;
      }
      >a{
       flex: 1;
        font-size: .26rem;
        color: #888888;
        text-align: center;
        span{
          color: #55bc75;
          vertical-align: middle;
        }
      }
      >a:nth-child(1){
        border-right: 1px solid #000;
      }
    }
  }
}

/* 优惠券 */
.coupon{
  .cart_content{
    .cart_main{
      background-color: #a974bc;

      .cart_name1{
        font-family: "STXihei";
        .rmb{
          font-size: 0.4rem;
        }
        .big_num{
          font-size: 0.9rem;
        }
        .sm_font{
          color: #eac7f7;
          font-size: 0.24rem;
        }
      }
      .cart_name2{
        font-size: 0.22rem;
        color: #fff;
        padding-top: 0.55rem;
      }
      .cart_name3{
        padding-top: 0.1rem;
        >a{
          color: #f2d8fb;
          background-color: #6a4279;
        }
      }
     
    }
  }

  // 有工具栏
  .own_tool{
    margin-top: .28rem;
    .cart_tool{
      >a{
        span{
          color: #a974bc;
        }
      }
      >a:nth-child(2){
        border-right: 1px solid #000;
      }
    }
  }
}

/* 添加优惠券 */
.add_coupon{
  background-color: #fff;
  border: 3px dashed #dedede;
  margin-top: 0.28rem;
  text-align: center;
  color: #aeaeae;
  padding: 0.4rem 0;
  a{
    line-height: 1;
    span{}
  }
  p{
    font-size: .26rem;

  }
}





.view{
  padding-bottom: 50px;
}




pre{
  font-size: 16px;
}